* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #474747;
  background-color: #fff8f3;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-tittle {
  color: #181818;
  font-size: 45px;
  font-style: normal;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}
.logo-pic {
  width: 80px;
  padding: 5px;
}

.banner-tittle {
  text-align: center;
  margin-top: 80px;
  color: #474747;
  font-size: 30px;
}

.banner-tittle-2 {
  text-align: center;
  margin-top: 10px;
  color: #474747;
  font-size: 30px;
}
.b-menu-container {
  display: flex;
  margin: 00px;
  gap: 24px;
  justify-content: space-evenly;
}

.box a {
  margin: 10px;
  padding: 80px;
  box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.16);
  align-items: center;
  display: block;
  margin-top: 200px;
  text-decoration: none;
  color: #474747;
  display: ;
  text-align: center;
}

.img-banner {
  width: 100px;
  height: 100px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  filter: invert(50%);
}
.img-banner2 {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Login Style Css Start here  */

.login-form {
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form h2 {
  color: rgb(51, 46, 46);
  text-transform: uppercase;
  font-weight: 700;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #0367fd;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: #611313ec;
  border-radius: 24px;
  transition: 0.25px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  width: 270px;
  border-color: #ffc400ec;
}

.login-form input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #611313ec;
  padding: 14px 25px;

  color: #0e0a08;
  border-radius: 24px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background: #611313ec;
  color: #fff8f3;
}

.btn {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #81150dfa;
  padding: 14px 25px;
  font-size: large;
  color: #0e0a08;
  border-radius: 24px;
  cursor: pointer;
}

.btn:hover {
  background: #aa8c82ec;
}
